{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="fs-3 mb-5">Prochaines fermetures du pont Chaban Delmas
	</h1>
	<p>Nous sommes aujourd'hui le :
		{{today}}
	</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom du bateau</th>
				<th scope="col">Fermeture</th>
				<th scope="col">Ré-ouverture</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Serina</th>
				<td>Le 12 décembre à 23:00</td>
				<td>Le 13 décembre à 05:00</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
			</tr>
		</tbody>
	</table>
</div>{% endblock %}
